/* Menu */ 
.navbar{
    background:#ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// menu logo
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-style: normal;
}
// menu links
.nav_items a{
    margin: 15px;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    &:hover{
        color:#E36914;
    }
}
// menu mobil
.nav_toggle{
    display: none;
}
// size tablet
@media (max-width: 768px) {
// menu
    .navbar{
        z-index: 2;
    }
// menu links
    .nav_items{
        z-index: 9999;
        position: absolute;
        top: 60px;
        left: 0;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: -webkit-fill-available;        
        transform: translateX(-100%);
        transition: 0.3s ease all;
        font-weight: 700;
    }
    .nav_items a{
        margin: 10px;
    }
    .nav_items.open{
        transform: translateX(0) !important
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 15px;
    }
// menu burguer 
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: rgb(0, 0, 0);
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}